header {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    margin-top: 300px;
    background: #1f2a40;
    padding-bottom: 30px;
    border-radius: 50px;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.link{
    display: flex;
    align-items: center;
    margin: auto;
}

.underline {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: 450px;
    height: 6px;
    background: white;
    border-radius: 9px;
}

.login, .signup {
    border: none;
    background: white;
    color: #1f2a40;
    padding: 12px 24px;
    margin: 8px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
}
